.page {
  max-width: 1080px;
  max-height: 9500px;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
}

@media all and (max-width: 820px) {
  .page {
    max-width: 760px;
    max-height: 9500px;  }
}

@media all and (max-width: 540px) {
  .page {
    max-width: 320px;
    max-height: 9500px;  }
}